html {
  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.homepage {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.text {
  position: absolute;
  align-self: center;
}

.hover {
  width: 100%;
  height: 80vh;
}

h2 {
  font-size: 80px;
  color: #fff;
}
